.decks-container {
  text-align: center;
  font-size: 24px;
  width: 90%;
  margin: auto;
}

.deck {
  margin: 25px;
  cursor: pointer;
  width: 350px;
  height: 200px;
  font-family: monospace;
  color: black;
  background-color: white;
  display: inline-block;
  border-radius: .9375em;
  transition: .2s ease-in-out;
}

.deck-description {
}

.deck-percentage {
  font-size: 20px;
  color: #0D0F4A;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  transition: .2s ease-in-out;
}

.deck:hover {
  background-color: #e07552;
  color: #fff;

  .deck-percentage-correct {
    color: #fff
  }
}



/* 90% */
@media screen and (max-width: 1600px) {

}

/* 80% */

@media screen and (max-width: 1400px) {

}

/* 70% */

@media screen and (max-width: 1200px) {

}

/* 60% */

@media screen and (max-width: 1000px) {
 
}